@model IEnumerable<Banking.Models.BankDetail>
@{
    ViewData["Title"] = "Bank Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bank Details</h1>

<div class="row" ng-app="app-bankDetails">
    <div class="col-sm-12" style="padding:0px">

        <wait-cursor ng-controller="bankDetailsController as vm" class="col-md-6 col-md-offset-3">
            <div class="text-danger" ng-show="vm.errorMessage">{{ vm.errorMessage }}</div>
            <wait-cursor display-when="vm.isBusy"></wait-cursor>
            <hr />
            <table id="bankdetailTable" class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>EffectiveDate</th>
                        <th>TransactionCode </th>
                        <th class="text-center">TransactionAmount</th>
                        <th>TransactionDate</th>
                        <th>TransactionTime</th>
                        <th>DrCrIndicator</th>
                        <th>Name of Bank</th>
                        <th>BranchCode</th>
                        <th>ReferenceNumber</th>
                        <th>AccountNumber</th>
                        <th>Identifier </th>

                    </tr>
                </thead>

                <tfoot class="thead-dark">
                    <tr>
                        <th>EffectiveDate</th>
                        <th>TransactionCode </th>
                        <th class="text-center">TransactionAmount</th>
                        <th>TransactionDate</th>
                        <th>TransactionTime</th>
                        <th>DrCrIndicator</th>
                        <th>Name of Bank</th>
                        <th>BranchCode</th>
                        <th>ReferenceNumber</th>
                        <th>AccountNumber</th>
                        <th>Identifier </th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr ng-repeat="bank in vm.bankDetails">
                        <td>{{bank.effectiveDate | date: 'MM-dd-yyyy'}}</td>
                        <td>{{bank.transactionCode}}</td>
                        <td>{{bank.transactionAmount}}</td>
                        <td>{{bank.transactionDate | date: 'MM-dd-yyyy'}}</td>
                        <td>{{bank.transactionTime | amdFormat: 'HH:mm:ss'}}</td>
                        <td>{{bank.drCrIndicator}}</td>
                        <td>{{bank.standardBank}}</td>
                        <td>{{bank.branchCode}}</td>
                        <td>{{bank.referenceNumber}}</td>
                        <td>{{bank.accountNumber}}</td>
                        <td>{{bank.identifier}}</td>

                    </tr>
                    }

                </tbody>
            </table>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

@section Scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="~/bower_components/angular/angular.min.js"></script>
    <script src="~/js/bankDetailsController.js"></script>
    <script src="~/js/app-bankDetails.js"></script>
    <script>
        $(document).ready(function () {
            $("#bankdetailTable").DataTable({
                "Ajax": {
                    "url": "/App/BankDetails",
                    "type": "Get",
                    "dataType": "Json"
                },
                "columns": [
                    { "data": "EffectiveDate" },
                    { "data": "TransactionCode" },
                    { "data": "TransactionAmount" },
                    { "data": "TransactionDate" },
                    { "data": "TransactionTime" },
                    { "data": "DrCrIndicator" },
                    { "data": "StandardBank" },
                    { "data": "BranchCode" },
                    { "data": "ReferenceNumber" },
                    { "data": "AccountNumber" },
                    { "data": "Identifier" }
                ]
            })
        });
    </script>
}
